src/main/resources/bhndivision3psservice_1_2_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/bhnDivision3PS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/dynamics/2008/01/documents/bhnDivision3PS">
  <xs:element name="bhnDivision3PS" type="AxdbhnDivision3PS"/>
  <xs:complexType name="AxdbhnDivision3PS">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="AxdEnum_XMLDocPurpose"/>
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="AxdExtType_dataAreaId"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bhnCustDivisionTable" type="AxdEntity_bhnCustDivisionTable"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AxdEnum_XMLDocPurpose">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Product:Product</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Original"/>
      <xs:enumeration value="Duplicate"/>
      <xs:enumeration value="Proforma"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_dataAreaId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Company:ID for an area of data</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_AxdEntityAction">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">AxdEntityAction:AxdEntityAction</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="create"/>
      <xs:enumeration value="update"/>
      <xs:enumeration value="replace"/>
      <xs:enumeration value="delete"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AxdEntity_bhnCustDivisionTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="AcquirerCode" nillable="true" type="AxdExtType_bhnCustCompanyCode"/>
      <xs:element minOccurs="0" name="AcquirerType" nillable="true" type="AxdExtType_bhnAcquirerTypeId"/>
      <xs:element minOccurs="0" name="AdditionalInfo" nillable="true" type="AxdExtType_bhnAdditionalInfo"/>
      <xs:element minOccurs="0" name="BankAuthorizationRequired" nillable="true" type="AxdExtType_BankAuthoizationRequired"/>
      <xs:element minOccurs="0" name="BhnGUID" nillable="true" type="AxdExtType_bhnGUID"/>
      <xs:element minOccurs="0" name="BhnLocalPartner" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="BhnPartnerPortalSource" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="BhnSetupComplete" nillable="true" type="AxdExtType_NoYesId"/>
      <xs:element minOccurs="0" name="BhnStandInCSR" nillable="true" type="AxdExtType_Inactive"/>
      <xs:element minOccurs="0" name="BhnValidateTxn" nillable="true" type="AxdExtType_Inactive"/>
      <xs:element minOccurs="0" name="BhnVoidSupport" nillable="true" type="AxdExtType_bhnVoidSupportMode"/>
      <xs:element minOccurs="0" name="BillingSourceCode" nillable="true" type="AxdExtType_bhnDivisionBillingSource"/>
      <xs:element minOccurs="0" name="BusChannel" nillable="true" type="AxdExtType_bhnBusChannel"/>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="AxdExtType_Comments"/>
      <xs:element minOccurs="1" name="CompanyCode" type="AxdExtType_bhnCustCompanyCode"/>
      <xs:element minOccurs="0" name="ContractComplete" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DisabledDate" nillable="true" type="AxdExtType_bhnDisabledDate"/>
      <xs:element minOccurs="0" name="DivisionAID" nillable="true" type="AxdExtType_bhnDivisionAID"/>
      <xs:element minOccurs="1" name="DivisionCode" type="AxdExtType_bhnCustDivisionCode"/>
      <xs:element minOccurs="0" name="DivisionMID" nillable="true" type="AxdExtType_bhnDivisionMID"/>
      <xs:element minOccurs="0" name="EnabledDate" nillable="true" type="AxdExtType_bhnEnabledDate"/>
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="AxdExtType_TransDate"/>
      <xs:element minOccurs="0" name="Inactive" nillable="true" type="AxdExtType_Inactive"/>
      <xs:element minOccurs="0" name="MerchRecordNumber" nillable="true" type="AxdExtType_MerchRecordNumber"/>
      <xs:element minOccurs="1" name="Name" type="AxdExtType_Name"/>
      <xs:element minOccurs="0" name="PartnerProfileId" nillable="true" type="AxdExtType_bhnGUID"/>
      <xs:element minOccurs="0" name="PartnerRecId" nillable="true" type="AxdExtType_RefRecId"/>
      <xs:element minOccurs="0" name="ProcessorCode" nillable="true" type="AxdExtType_bhnCustCompanyCode"/>
      <xs:element minOccurs="0" name="ProcessorType" nillable="true" type="AxdExtType_bhnProcessorTypeId"/>
      <xs:element minOccurs="0" name="RecId" nillable="true" type="AxdExtType_recId"/>
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="AxdExtType_recVersion"/>
      <xs:element minOccurs="0" name="RegulatedProducts" nillable="true" type="AxdExtType_RegulatedProducts"/>
      <xs:element minOccurs="1" name="RelationCode" type="AxdExtType_bhnCompRelationCode"/>
      <xs:element minOccurs="0" name="SideLetter" nillable="true" type="AxdExtType_SideLetterType"/>
      <xs:element minOccurs="0" name="SideLetterReq" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="SideLetterReq1" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="WebSite" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bhnDivisionAttributes" type="AxdEntity_bhnDivisionAttributes"/>
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required"/>
    <xs:attribute name="action" type="AxdEnum_AxdEntityAction"/>
  </xs:complexType>
  <xs:simpleType name="AxdExtType_bhnCustCompanyCode">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Company code:The company code related to a customer or product.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnAcquirerTypeId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Acquirer type:Type of acquiring institution.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnAdditionalInfo">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Additional info:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="250"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_BankAuthoizationRequired">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Bank authorization required:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnGUID">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">BHN GUID:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_NoYes">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdType_ExtCodeValue">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Value:Actual value of the related record according to the selected external code type.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdUnion_AxdType_Str_AxdType_ExtCodeValue">
    <xs:union memberTypes="AxdType_Str AxdType_ExtCodeValue"/>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Str">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Partner Portal Source:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_NoYesId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_Inactive">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Inactive:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnVoidSupportMode">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Void Support Mode:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Systematic"/>
      <xs:enumeration value="Notsupported"/>
      <xs:enumeration value="ManualCSR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnDivisionBillingSource">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Billing source code:Division billing source code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnBusChannel">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Business channel:Business channel for division</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_Comments">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Comments:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnDisabledDate">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Disabled date:Transaction date.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnDivisionAID">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Division AID:Division code AID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnCustDivisionCode">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Division code:The division code related to a customer or product.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnDivisionMID">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Division MID:Division code MID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnEnabledDate">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Enabled date:Transaction date.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_TransDate">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Date:Transaction date.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_MerchRecordNumber">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Service Now Merchant Record Number:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_Name">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Name:Name.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_RefRecId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Reference:Reference field in a different table.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Int64"/>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Int64">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="-9223372036854775808"/>
      <xs:maxInclusive value="9223372036854775807"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnProcessorTypeId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Processor type:Type of processor.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_recId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Record-ID:Unique ID for the record in the database</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Int64"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_recVersion">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Record Version:Version of the record in the database</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Integer">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-2147483648"/>
      <xs:maxInclusive value="2147483647"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_RegulatedProducts">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Regulated products:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnCompRelationCode">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Relation code:Company relation code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_SideLetterType">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Side letter type:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AxdEntity_bhnDivisionAttributes">
    <xs:sequence>
      <xs:element minOccurs="0" name="BalanceLockTimeFrame" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="Division1DC128Expression" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="Division2DPDF417Expression" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="Division2DQRCODEExpression" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DivisionAccessCode" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DivisionAccountNumberLabel" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DivisionAccountType" nillable="true" type="AxdEnum_divisionAccountType"/>
      <xs:element minOccurs="0" name="DivisionAreBalancesTransferable" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionBalanceMerges" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionBins" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DivisionCanCardExpire" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionCardImageBack1URL" nillable="true" type="AxdExtType_bhnMegatronURL"/>
      <xs:element minOccurs="0" name="DivisionCardImageBack2URL" nillable="true" type="AxdExtType_bhnMegatronURL"/>
      <xs:element minOccurs="0" name="DivisionCardImageBack3URL" nillable="true" type="AxdExtType_bhnMegatronURL"/>
      <xs:element minOccurs="0" name="DivisionCardImageBack4URL" nillable="true" type="AxdExtType_bhnMegatronURL"/>
      <xs:element minOccurs="0" name="DivisionCardImageBack5URL" nillable="true" type="AxdExtType_bhnMegatronURL"/>
      <xs:element minOccurs="0" name="DivisionCardImageFront1URL" nillable="true" type="AxdExtType_bhnMegatronURL"/>
      <xs:element minOccurs="0" name="DivisionCardImageFront2URL" nillable="true" type="AxdExtType_bhnMegatronURL"/>
      <xs:element minOccurs="0" name="DivisionCardImageFront3URL" nillable="true" type="AxdExtType_bhnMegatronURL"/>
      <xs:element minOccurs="0" name="DivisionCardImageFront4URL" nillable="true" type="AxdExtType_bhnMegatronURL"/>
      <xs:element minOccurs="0" name="DivisionCardImageFront5URL" nillable="true" type="AxdExtType_bhnMegatronURL"/>
      <xs:element minOccurs="0" name="DivisionCardPinLocation" nillable="true" type="AxdEnum_divisionLocale"/>
      <xs:element minOccurs="0" name="DivisionCardPinType" nillable="true" type="AxdEnum_divisionCardPinType"/>
      <xs:element minOccurs="0" name="DivisionCashierInstructions" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="1" name="DivisionCode" type="AxdExtType_bhnCustDivisionCode"/>
      <xs:element minOccurs="0" name="DivisionCustomerSupportContactFirstN" nillable="true" type="AxdExtType_bhnMegatronName"/>
      <xs:element minOccurs="0" name="DivisionCustomerSupportContactLastNa" nillable="true" type="AxdExtType_bhnMegatronName"/>
      <xs:element minOccurs="0" name="DivisionCustomerSupportEmail" nillable="true" type="AxdExtType_Email"/>
      <xs:element minOccurs="0" name="DivisionCustomerSupportPhone" nillable="true" type="AxdExtType_Phone"/>
      <xs:element minOccurs="0" name="DivisionCustomerSupportURL" nillable="true" type="AxdExtType_bhnMegatronURL"/>
      <xs:element minOccurs="0" name="DivisionHasPhoneSupportAtPOS" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionHasUniversalBISupport" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionInStoreRedemptionInstruction" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DivisionIsBarcodeFormat1DC128" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionIsBarcodeFormat2DPDF417" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionIsBarcodeFormat2DQRCODE" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionisBarcodeScanSupported" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionIsBISystemBLAST" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionIsBISystemCAPTCHA" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionIsBISystemCardpool" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionIsBISystemScreenScraped" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionIsBISystemUserEntered" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionIsCardReplaceable" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionIsCardTransferable" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionisLostStolenPolicyAutomated" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionIsPinRequiredForBI" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionIsPinRequiredForRedemption" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionLocale" nillable="true" type="AxdEnum_divisionLocale"/>
      <xs:element minOccurs="0" name="DivisionLogoURL" nillable="true" type="AxdExtType_bhnMegatronURL"/>
      <xs:element minOccurs="0" name="DivisionLostStolenPolicyText" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DivisionManualEntryFormat" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DivisionMaximumReloadAmount" nillable="true" type="AxdType_Decimal2"/>
      <xs:element minOccurs="0" name="DivisionMinimumReloadAmount" nillable="true" type="AxdType_Decimal2"/>
      <xs:element minOccurs="0" name="DivisionOnlineRedemptionInstructions" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DivisionOnlineStoreURL" nillable="true" type="AxdExtType_bhnMegatronURL"/>
      <xs:element minOccurs="0" name="DivisionPaymentNetworkType" nillable="true" type="AxdEnum_divisionPaymentNetworkType"/>
      <xs:element minOccurs="0" name="DivisionPinLable" nillable="true" type="AxdEnum_ABC"/>
      <xs:element minOccurs="0" name="DivisionProgramDescription" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DivisionRedemptionInformation" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DivisionRedemptionLine1" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DivisionRedemptionLine2" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DivisionRedemptionMethod" nillable="true" type="AxdEnum_divisionRedemptionMethod"/>
      <xs:element minOccurs="0" name="DivisionRedemptionMethods" nillable="true" type="AxdEnum_ABC"/>
      <xs:element minOccurs="0" name="DivisionSupportsAddQRCode" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionSupportsBalanceInquiry" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionSupportsPartialBalanceInquir" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionSupportsPhysicalCards" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionSupportsRedemption" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionSupportsVirtualCard" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionSupportsVoidActivation" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionSupportsVoidRedemption" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionSupportsVoidReload" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="DivisionTandCTextForPhysical" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DivisionTrack1Format" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DivisionTrack2Format" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DivisionTrack3Format" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="LostStolenPolicyPhone" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="ProcessorContactFirstName" nillable="true" type="AxdExtType_bhnMegatronName"/>
      <xs:element minOccurs="0" name="ProcessorContactLastName" nillable="true" type="AxdExtType_bhnMegatronName"/>
      <xs:element minOccurs="0" name="ProcessorContactPhoneNumber" nillable="true" type="AxdExtType_Phone"/>
      <xs:element minOccurs="0" name="ProcessorContactPhoneNumberExt" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="ProcessorHasRealTimeIssuance" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="RecId" nillable="true" type="AxdExtType_recId"/>
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="AxdExtType_recVersion"/>
      <xs:element minOccurs="0" name="RedemptionAdditionalDataLabel" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="SupportsPartialBalanceInquiry" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="SupportsRegift" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="SupportsReload" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="SupportsTransactionHistory" nillable="true" type="AxdEnum_NoYes"/>
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required"/>
    <xs:attribute name="action" type="AxdEnum_AxdEntityAction"/>
  </xs:complexType>
  <xs:simpleType name="AxdEnum_divisionAccountType">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Account Type:Account Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="CREDIT_CARD"/>
      <xs:enumeration value="GIFT_CARD"/>
      <xs:enumeration value="LOYALTY_CARD"/>
      <xs:enumeration value="PHONE_CARD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnMegatronURL">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_divisionLocale">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="en_US"/>
      <xs:enumeration value="en_CA"/>
      <xs:enumeration value="fr_CA"/>
      <xs:enumeration value="en_UK"/>
      <xs:enumeration value="en_AU"/>
      <xs:enumeration value="en_MX"/>
      <xs:enumeration value="es_MX"/>
      <xs:enumeration value="en_FR"/>
      <xs:enumeration value="fr_FR"/>
      <xs:enumeration value="en_ZA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_divisionCardPinType">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Card Pin Type:Card Pin Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="FRONT"/>
      <xs:enumeration value="BACK"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnMegatronName">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_Email">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">E-mail:Internet e-mail address.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_Phone">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Telephone:Telephone number.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Decimal2">
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Decimal">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_divisionPaymentNetworkType">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Payment NetworkType:Payment NetworkType</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="VISA"/>
      <xs:enumeration value="MASTERCARD"/>
      <xs:enumeration value="DISCOVER"/>
      <xs:enumeration value="AMEX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_ABC">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Category:Category</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="A"/>
      <xs:enumeration value="B"/>
      <xs:enumeration value="C"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_divisionRedemptionMethod">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Redemption Location Type:Redemption Location Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="REDEMPTION_INFORMATION"/>
      <xs:enumeration value="IN_STORE_INSTRUCTIONS"/>
      <xs:enumeration value="ON_LINE_INSTRUCTIONS"/>
      <xs:enumeration value="REDEMPTION_LINE_1"/>
      <xs:enumeration value="REDEMPTION_LNE_2"/>
      <xs:enumeration value="SALES_ASSOCIATE_INSTRUCTIONS"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>