src/main/resources/bhnupcattributes3psservice_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="bhnUPCAttributes3PSService" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsp:Policy wsu:Id="BasicHttpBinding_bhnUPCAttributes3PSService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http"/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/services/Imports">
      <xsd:import schemaLocation="bhnupcattributes3psservice.xsd" namespace="http://schemas.microsoft.com/dynamics/2008/01/services"/>
      <xsd:import schemaLocation="bhnupcattributes3psservice_1_2_3_4.xsd" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
      <xsd:import schemaLocation="bhnupcattributes3psservice_1_2_3_4_5.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="bhnupcattributes3psservice_1.xsd" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/bhnUPCAttributes3PS"/>
      <xsd:import schemaLocation="bhnupcattributes3psservice_1_2_3_4_5_6.xsd"/>
      <xsd:import schemaLocation="bhnupcattributes3psservice_1_2.xsd" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList"/>
      <xsd:import schemaLocation="bhnupcattributes3psservice_1_2_3.xsd" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="bhnUPCAttributes3PSServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:bhnUPCAttributes3PSServiceCreateRequest"/>
  </wsdl:message>
  <wsdl:message name="bhnUPCAttributes3PSServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:bhnUPCAttributes3PSServiceCreateResponse"/>
  </wsdl:message>
  <wsdl:message name="bhnUPCAttributes3PSService_create_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q1:AifFault" xmlns:q1="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:message name="bhnUPCAttributes3PSServiceUpdateRequest">
    <wsdl:part name="parameters" element="tns:bhnUPCAttributes3PSServiceUpdateRequest"/>
  </wsdl:message>
  <wsdl:message name="bhnUPCAttributes3PSService_update_OutputMessage"/>
  <wsdl:message name="bhnUPCAttributes3PSService_update_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q2:AifFault" xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:message name="bhnUPCAttributes3PSServiceReadRequest">
    <wsdl:part name="parameters" element="tns:bhnUPCAttributes3PSServiceReadRequest"/>
  </wsdl:message>
  <wsdl:message name="bhnUPCAttributes3PSServiceReadResponse">
    <wsdl:part name="parameters" element="tns:bhnUPCAttributes3PSServiceReadResponse"/>
  </wsdl:message>
  <wsdl:message name="bhnUPCAttributes3PSService_read_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q3:AifFault" xmlns:q3="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:message name="bhnUPCAttributes3PSServiceDeleteRequest">
    <wsdl:part name="parameters" element="tns:bhnUPCAttributes3PSServiceDeleteRequest"/>
  </wsdl:message>
  <wsdl:message name="bhnUPCAttributes3PSService_delete_OutputMessage"/>
  <wsdl:message name="bhnUPCAttributes3PSService_delete_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q4:AifFault" xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:portType name="bhnUPCAttributes3PSService">
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/create" name="bhnUPCAttributes3PSServiceCreateRequest" message="tns:bhnUPCAttributes3PSServiceCreateRequest"/>
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/createResponse" name="bhnUPCAttributes3PSServiceCreateResponse" message="tns:bhnUPCAttributes3PSServiceCreateResponse"/>
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/createAifFaultFault" name="AifFaultFault" message="tns:bhnUPCAttributes3PSService_create_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/update" name="bhnUPCAttributes3PSServiceUpdateRequest" message="tns:bhnUPCAttributes3PSServiceUpdateRequest"/>
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/updateResponse" message="tns:bhnUPCAttributes3PSService_update_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/updateAifFaultFault" name="AifFaultFault" message="tns:bhnUPCAttributes3PSService_update_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/read" name="bhnUPCAttributes3PSServiceReadRequest" message="tns:bhnUPCAttributes3PSServiceReadRequest"/>
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/readResponse" name="bhnUPCAttributes3PSServiceReadResponse" message="tns:bhnUPCAttributes3PSServiceReadResponse"/>
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/readAifFaultFault" name="AifFaultFault" message="tns:bhnUPCAttributes3PSService_read_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/delete" name="bhnUPCAttributes3PSServiceDeleteRequest" message="tns:bhnUPCAttributes3PSServiceDeleteRequest"/>
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/deleteResponse" message="tns:bhnUPCAttributes3PSService_delete_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/deleteAifFaultFault" name="AifFaultFault" message="tns:bhnUPCAttributes3PSService_delete_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_bhnUPCAttributes3PSService" type="tns:bhnUPCAttributes3PSService">
    <wsp:PolicyReference URI="#BasicHttpBinding_bhnUPCAttributes3PSService_policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/create" style="document"/>
      <wsdl:input name="bhnUPCAttributes3PSServiceCreateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bhnUPCAttributes3PSServiceCreateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault name="AifFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/update" style="document"/>
      <wsdl:input name="bhnUPCAttributes3PSServiceUpdateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault name="AifFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="read">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/read" style="document"/>
      <wsdl:input name="bhnUPCAttributes3PSServiceReadRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bhnUPCAttributes3PSServiceReadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault name="AifFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/bhnUPCAttributes3PSService/delete" style="document"/>
      <wsdl:input name="bhnUPCAttributes3PSServiceDeleteRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault name="AifFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="bhnUPCAttributes3PSService">
    <wsdl:port name="BasicHttpBinding_bhnUPCAttributes3PSService" binding="tns:BasicHttpBinding_bhnUPCAttributes3PSService">
      <soap:address location="http://vmsclapmdaxq02w.devqa.local/MicrosoftDynamicsAXAif50/bhnupcattributes3psservice.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>