src/main/resources/bhnupcattributes3psservice_1_2_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/bhnUPCAttributes3PS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/dynamics/2008/01/documents/bhnUPCAttributes3PS">
  <xs:element name="bhnUPCAttributes3PS" type="AxdbhnUPCAttributes3PS"/>
  <xs:complexType name="AxdbhnUPCAttributes3PS">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="AxdEnum_XMLDocPurpose"/>
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="AxdExtType_dataAreaId"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventTable" type="AxdEntity_InventTable"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AxdEnum_XMLDocPurpose">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Product:Product</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Original"/>
      <xs:enumeration value="Duplicate"/>
      <xs:enumeration value="Proforma"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_dataAreaId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Company:ID for an area of data</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_AxdEntityAction">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">AxdEntityAction:AxdEntityAction</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="create"/>
      <xs:enumeration value="update"/>
      <xs:enumeration value="replace"/>
      <xs:enumeration value="delete"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AxdEntity_InventTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ABCContributionMargin" nillable="true" type="AxdEnum_ABC"/>
      <xs:element minOccurs="0" name="ABCRevenue" nillable="true" type="AxdEnum_ABC"/>
      <xs:element minOccurs="0" name="ABCTieUp" nillable="true" type="AxdEnum_ABC"/>
      <xs:element minOccurs="0" name="ABCValue" nillable="true" type="AxdEnum_ABC"/>
      <xs:element minOccurs="0" name="AltItemId" nillable="true" type="AxdExtType_ItemIdAlternative"/>
      <xs:element minOccurs="0" name="AutoReportFinished" nillable="true" type="AxdExtType_ItemAutoReportFinished"/>
      <xs:element minOccurs="0" name="BatchNumGroupId" nillable="true" type="AxdExtType_InventNumGroupId"/>
      <xs:element minOccurs="0" name="BhnBarcodeType" nillable="true" type="AxdExtType_bhnBarcodeTypes"/>
      <xs:element minOccurs="0" name="BhnBIN" nillable="true" type="AxdExtType_Counter"/>
      <xs:element minOccurs="0" name="BhnBINrange" nillable="true" type="AxdExtType_Num"/>
      <xs:element minOccurs="0" name="BhnCheckDigit" nillable="true" type="AxdExtType_bhnUPCCheckDigit"/>
      <xs:element minOccurs="0" name="bhnCompany" nillable="true" type="AxdExtType_bhnCustCompanyCode"/>
      <xs:element minOccurs="0" name="BhnComplete" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="BhnContentSKU" nillable="true" type="AxdExtType_BhnContentSKU"/>
      <xs:element minOccurs="0" name="bhnDivision" nillable="true" type="AxdExtType_bhnCustDivisionCode"/>
      <xs:element minOccurs="0" name="BhnGenerateproxycardnum" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="BhnGenerationtype" nillable="true" type="AxdEnum_BhnGenerationType"/>
      <xs:element minOccurs="0" name="BhnGUID" nillable="true" type="AxdExtType_bhnGUID"/>
      <xs:element minOccurs="0" name="BhnIsEANUPC" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="BhnLastReturnDate" nillable="true" type="AxdExtType_EndDate"/>
      <xs:element minOccurs="0" name="BhnMSFTcontentProviderDescription" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="BhnMSFTcontentProviderUPC" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="BhnNonpersonalizedCard" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="BhnNotes" nillable="true" type="AxdExtType_bhnNotes"/>
      <xs:element minOccurs="0" name="BhnPaygoCTID" nillable="true" type="AxdExtType_bhnUPCPaygoCTID"/>
      <xs:element minOccurs="0" name="Bhnproxybin" nillable="true" type="AxdExtType_Counter"/>
      <xs:element minOccurs="0" name="Bhnproxybinrange" nillable="true" type="AxdExtType_Num"/>
      <xs:element minOccurs="0" name="BhnproxyCardlength" nillable="true" type="AxdExtType_Counter"/>
      <xs:element minOccurs="0" name="BhnServicecode" nillable="true" type="AxdExtType_Counter"/>
      <xs:element minOccurs="0" name="BhnSetupCompleteDate" nillable="true" type="AxdExtType_ApprovedDateTime"/>
      <xs:element minOccurs="0" name="BhnSetupCompletedBy" nillable="true" type="AxdExtType_userId"/>
      <xs:element minOccurs="0" name="BhnStatus" nillable="true" type="AxdEnum_bhnStatus"/>
      <xs:element minOccurs="0" name="BhnStopBossApproval" nillable="true" type="AxdExtType_bhnStopBossApproval"/>
      <xs:element minOccurs="0" name="bhnSubGroup" nillable="true" type="AxdExtType_bhnUPCSubGroup"/>
      <xs:element minOccurs="0" name="BOMCalcGroupId" nillable="true" type="AxdExtType_BOMCalcGroupId"/>
      <xs:element minOccurs="0" name="BOMLevel" nillable="true" type="AxdExtType_ItemBOMLevel"/>
      <xs:element minOccurs="0" name="BOMManualReceipt" nillable="true" type="AxdExtType_ItemBOMManualReceipt"/>
      <xs:element minOccurs="0" name="BOMUnitId" nillable="true" type="AxdExtType_BOMUnitId"/>
      <xs:element minOccurs="0" name="CommissionGroupId" nillable="true" type="AxdExtType_CommissItemGroup"/>
      <xs:element minOccurs="0" name="CostGroupId" nillable="true" type="AxdExtType_CostGroupIdDirectMaterial"/>
      <xs:element minOccurs="0" name="CostModel" nillable="true" type="AxdExtType_ItemCostModel"/>
      <xs:element minOccurs="0" name="Density" nillable="true" type="AxdExtType_BOMMeasureDensity"/>
      <xs:element minOccurs="0" name="Depth" nillable="true" type="AxdExtType_BOMMeasureDepth"/>
      <xs:element minOccurs="0" name="Dimension" nillable="true" type="AxdArray_AxdExtType_Dimension"/>
      <xs:element minOccurs="1" name="DimGroupId" type="AxdExtType_InventDimGroupId"/>
      <xs:element minOccurs="0" name="DiscoReasonCode" nillable="true" type="AxdExtType_DiscoReasonCode"/>
      <xs:element minOccurs="0" name="EPCManager" nillable="true" type="AxdExtType_EPCManager"/>
      <xs:element minOccurs="0" name="grossDepth" nillable="true" type="AxdExtType_InventDepth"/>
      <xs:element minOccurs="0" name="grossHeight" nillable="true" type="AxdExtType_InventHeight"/>
      <xs:element minOccurs="0" name="grossWidth" nillable="true" type="AxdExtType_InventWidth"/>
      <xs:element minOccurs="0" name="Height" nillable="true" type="AxdExtType_BOMMeasureHeight"/>
      <xs:element minOccurs="0" name="Intracode" nillable="true" type="AxdExtType_IntrastatItemCodeId"/>
      <xs:element minOccurs="0" name="IntraUnit" nillable="true" type="AxdExtType_IntrastatConvert"/>
      <xs:element minOccurs="0" name="ItemBuyerGroupId" nillable="true" type="AxdExtType_ItemBuyerGroupId"/>
      <xs:element minOccurs="0" name="ItemDimCombinationAutoCreate" nillable="true" type="AxdExtType_ItemDimCombinationAutoCreate"/>
      <xs:element minOccurs="0" name="ItemDimCostPrice" nillable="true" type="AxdExtType_ItemDimCostPrice"/>
      <xs:element minOccurs="1" name="ItemGroupId" type="AxdExtType_ItemGroupId"/>
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="AxdExtType_ItemId"/>
      <xs:element minOccurs="0" name="ItemIdCompany" nillable="true" type="AxdExtType_ItemIdCompany"/>
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="AxdExtType_ItemName"/>
      <xs:element minOccurs="0" name="ItemPriceToleranceGroupId" nillable="true" type="AxdExtType_ItemPriceToleranceGroupId"/>
      <xs:element minOccurs="0" name="ItemType" nillable="true" type="AxdEnum_ItemType"/>
      <xs:element minOccurs="0" name="JsSearchText" nillable="true" type="AxdExtType_jsString300"/>
      <xs:element minOccurs="0" name="jsSellEndDate" nillable="true" type="AxdExtType_TransDate"/>
      <xs:element minOccurs="0" name="jsSellStartDate" nillable="true" type="AxdExtType_TransDate"/>
      <xs:element minOccurs="0" name="MerchRecordNumber" nillable="true" type="AxdExtType_MerchRecordNumber"/>
      <xs:element minOccurs="1" name="ModelGroupId" type="AxdExtType_InventModelGroupId"/>
      <xs:element minOccurs="0" name="NameAlias" nillable="true" type="AxdExtType_ItemNameAlias"/>
      <xs:element minOccurs="0" name="NetWeight" nillable="true" type="AxdExtType_ItemNetWeight"/>
      <xs:element minOccurs="0" name="OrigCountryRegionId" nillable="true" type="AxdExtType_ItemOrigCountryRegionId"/>
      <xs:element minOccurs="0" name="OrigStateId" nillable="true" type="AxdExtType_ItemOrigStateId"/>
      <xs:element minOccurs="0" name="PackagingGroupId" nillable="true" type="AxdExtType_ItemPackagingGroupId"/>
      <xs:element minOccurs="0" name="PartnerProfileId" nillable="true" type="AxdExtType_bhnGUID"/>
      <xs:element minOccurs="0" name="PBAAutoStart" nillable="true" type="AxdExtType_PBAAutostart"/>
      <xs:element minOccurs="0" name="PBAHideApproval" nillable="true" type="AxdExtType_PBAHideApproval"/>
      <xs:element minOccurs="0" name="PBAHideDialog" nillable="true" type="AxdExtType_PBAHideDialog"/>
      <xs:element minOccurs="0" name="PBAInventItemGroupId" nillable="true" type="AxdExtType_PBAInventItemGroupId"/>
      <xs:element minOccurs="0" name="PBAItemAutoGenerated" nillable="true" type="AxdExtType_PBAItemAutoGenerated"/>
      <xs:element minOccurs="0" name="PBAItemConfigurable" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="PBAMandatoryConfig" nillable="true" type="AxdExtType_PBAMandatoryConfig"/>
      <xs:element minOccurs="0" name="Phantom" nillable="true" type="AxdExtType_ItemPhantom"/>
      <xs:element minOccurs="0" name="PrimaryVendorId" nillable="true" type="AxdExtType_ItemPrimaryVendId"/>
      <xs:element minOccurs="0" name="ProdFlushingPrincip" nillable="true" type="AxdEnum_ProdFlushingPrincipItem"/>
      <xs:element minOccurs="0" name="ProdGroupId" nillable="true" type="AxdExtType_ItemProdGroupId"/>
      <xs:element minOccurs="0" name="ProdPoolId" nillable="true" type="AxdExtType_ItemProdPoolId"/>
      <xs:element minOccurs="0" name="projCategoryId" nillable="true" type="AxdExtType_ProjCategoryId"/>
      <xs:element minOccurs="0" name="PurchModel" nillable="true" type="AxdExtType_ItemPurchModel"/>
      <xs:element minOccurs="0" name="RecId" nillable="true" type="AxdExtType_recId"/>
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="AxdExtType_recVersion"/>
      <xs:element minOccurs="0" name="ReqGroupId" nillable="true" type="AxdExtType_ReqGroupId"/>
      <xs:element minOccurs="0" name="SalesContributionRatio" nillable="true" type="AxdExtType_ItemSalesContributionRatio"/>
      <xs:element minOccurs="0" name="SalesModel" nillable="true" type="AxdExtType_ItemSalesModel"/>
      <xs:element minOccurs="0" name="SalesPercentMarkup" nillable="true" type="AxdExtType_ItemSalesPercentMarkup"/>
      <xs:element minOccurs="0" name="SalesPriceModelBasic" nillable="true" type="AxdEnum_SalesPriceModelBasic"/>
      <xs:element minOccurs="0" name="ScrapConst" nillable="true" type="AxdExtType_ScrapConst"/>
      <xs:element minOccurs="0" name="ScrapVar" nillable="true" type="AxdExtType_ScrapVar"/>
      <xs:element minOccurs="0" name="SerialNumGroupId" nillable="true" type="AxdExtType_InventNumGroupId"/>
      <xs:element minOccurs="0" name="sortCode" nillable="true" type="AxdExtType_WMSSortCode"/>
      <xs:element minOccurs="0" name="StatisticsFactor" nillable="true" type="AxdExtType_IntrastatMarkupPct"/>
      <xs:element minOccurs="0" name="StopExplode" nillable="true" type="AxdExtType_ItemStopExplode"/>
      <xs:element minOccurs="0" name="TaraWeight" nillable="true" type="AxdExtType_ItemTaraWeight"/>
      <xs:element minOccurs="0" name="TaxPackagingQty" nillable="true" type="AxdExtType_TaxPackagingQty"/>
      <xs:element minOccurs="0" name="UnitVolume" nillable="true" type="AxdExtType_ItemVolume"/>
      <xs:element minOccurs="0" name="UseAltItemId" nillable="true" type="AxdExtType_ItemUseAlternative"/>
      <xs:element minOccurs="0" name="Width" nillable="true" type="AxdExtType_BOMMeasureWidth"/>
      <xs:element minOccurs="0" name="WMSArrivalHandlingTime" nillable="true" type="AxdExtType_WMSArrivalHandlingTime"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bhnUPCAttr1" type="AxdEntity_bhnUPCAttr1"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bhnUPCAttr2" type="AxdEntity_bhnUPCAttr2"/>
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required"/>
    <xs:attribute name="action" type="AxdEnum_AxdEntityAction"/>
  </xs:complexType>
  <xs:simpleType name="AxdEnum_ABC">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Category:Category</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="A"/>
      <xs:enumeration value="B"/>
      <xs:enumeration value="C"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemIdAlternative">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Alternative item number:Alternative inventory number is used for order entry.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemAutoReportFinished">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Auto-report as finished:Activate automatic report as finished in connection with transactions for the item.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_InventNumGroupId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Number group:Identification of number group</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnBarcodeTypes">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Product Code Type:Type of barcode</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Blank"/>
      <xs:enumeration value="UPC"/>
      <xs:enumeration value="EAN"/>
      <xs:enumeration value="External"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_Counter">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Counter:For program-internal loop-counter variables.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Integer">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-2147483648"/>
      <xs:maxInclusive value="2147483647"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_Num">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Number:Number.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCCheckDigit">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Check digit:UPC check digit</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnCustCompanyCode">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Company code:The company code related to a customer or product.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_NoYes">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_BhnContentSKU">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Content Provider SKU:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnCustDivisionCode">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Division code:The division code related to a customer or product.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_BhnGenerationType">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Generation Type:Generation Type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sequential"/>
      <xs:enumeration value="Randon"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnGUID">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">BHN GUID:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_EndDate">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">End date:End date of period.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="AxdType_ExtCodeValue">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Value:Actual value of the related record according to the selected external code type.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdUnion_AxdType_Str_AxdType_ExtCodeValue">
    <xs:union memberTypes="AxdType_Str AxdType_ExtCodeValue"/>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Str">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Content Provider Description:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnNotes">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Notes:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCPaygoCTID">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Paygo CTID:UPC Paygo CTID</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:complexType name="AxdType_DateTime">
    <xs:simpleContent>
      <xs:extension base="xs:dateTime">
        <xs:attribute name="localDateTime" type="xs:dateTime"/>
        <xs:attribute name="timezone" type="AxdEnum_Timezone"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AxdEnum_Timezone">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="GMTMINUS1200INTERNATIONALDATELINEWEST"/>
      <xs:enumeration value="GMTMINUS1100MIDWAYISLAND_SAMOA"/>
      <xs:enumeration value="GMTMINUS1000HAWAII"/>
      <xs:enumeration value="GMTMINUS0900ALASKA"/>
      <xs:enumeration value="GMTMINUS0800PACIFICTIME"/>
      <xs:enumeration value="GMTMINUS0800TIJUANA_BAJACALIFORNIA"/>
      <xs:enumeration value="GMTMINUS0700ARIZONA"/>
      <xs:enumeration value="GMTMINUS0700MOUNTAINTIME"/>
      <xs:enumeration value="GMTMINUS0700CHIHUAHUA_LAPAZ_MAZATLAN"/>
      <xs:enumeration value="GMTMINUS0600CENTRALAMERICA"/>
      <xs:enumeration value="GMTMINUS0600CENTRALTIME"/>
      <xs:enumeration value="GMTMINUS0600GUADALAJARA_MEXICOCITY"/>
      <xs:enumeration value="GMTMINUS0600SASKATCHEWAN"/>
      <xs:enumeration value="GMTMINUS0500BOGOTA_LIMA_QUITO_RIOBRANCO"/>
      <xs:enumeration value="GMTMINUS0500EASTERNTIME"/>
      <xs:enumeration value="GMTMINUS0500INDIANA"/>
      <xs:enumeration value="GMTMINUS0400ATLANTICTIME"/>
      <xs:enumeration value="GMTMINUS0400LAPAZ"/>
      <xs:enumeration value="GMTMINUS0400MANAUS"/>
      <xs:enumeration value="GMTMINUS0400SANTIAGO"/>
      <xs:enumeration value="GMTMINUS0430CARACAS"/>
      <xs:enumeration value="GMTMINUS0330NEWFOUNDLAND"/>
      <xs:enumeration value="GMTMINUS0300BRASILIA"/>
      <xs:enumeration value="GMTMINUS0300BUENOSAIRES_GEORGETOWN"/>
      <xs:enumeration value="GMTMINUS0300GREENLAND"/>
      <xs:enumeration value="GMTMINUS0300MONTEVIDEO"/>
      <xs:enumeration value="GMTMINUS0200MIDATLANTIC"/>
      <xs:enumeration value="GMTMINUS0100AZORES"/>
      <xs:enumeration value="GMTMINUS0100CAPEVERDIS"/>
      <xs:enumeration value="GMT_CASABLANCA_MONTROVIA_REYKJAVIK"/>
      <xs:enumeration value="GMT_DUBLIN_EDINBURGH_LISBON_LONDON"/>
      <xs:enumeration value="GMTPLUS0100_AMSTERDAM_BERLIN_BERN_ROME"/>
      <xs:enumeration value="GMTPLUS0100BELGRADE_BRATISLAVA_BUDAPEST"/>
      <xs:enumeration value="GMTPLUS0100BRUSSELS_COPENHAGEN_MADRID"/>
      <xs:enumeration value="GMTPLUS0100SARAJEVO_SKOPJE_WARSAW_ZAGREB"/>
      <xs:enumeration value="GMTPLUS0100WESTCENTRALAFRICA"/>
      <xs:enumeration value="GMTPLUS0200AMMAN"/>
      <xs:enumeration value="GMTPLUS0200ATHENS_BUCHAREST_ISTANBUL"/>
      <xs:enumeration value="GMTPLUS0200BEIRUT"/>
      <xs:enumeration value="GMTPLUS0200MINSK"/>
      <xs:enumeration value="GMTPLUS0200CAIRO"/>
      <xs:enumeration value="GMTPLUS0200HARARE_PRETORIA"/>
      <xs:enumeration value="GMTPLUS0200HELSINKI_KYIV_RIGA_VILNIUS"/>
      <xs:enumeration value="GMTPLUS0200JERUSALEM"/>
      <xs:enumeration value="GMTPLUS0200WINDHOEK"/>
      <xs:enumeration value="GMTPLUS0300BAGHDAD"/>
      <xs:enumeration value="GMTPLUS0300KUWAIT_RIYADH"/>
      <xs:enumeration value="GMTPLUS0300MOSCOW_STPETERSBURG_VOLGOGRAD"/>
      <xs:enumeration value="GMTPLUS0300NAIROBI"/>
      <xs:enumeration value="GMTPLUS0300TBILISI"/>
      <xs:enumeration value="GMTPLUS0330TEHRAN"/>
      <xs:enumeration value="GMTPLUS0400ABUDHABI_MUSCAT"/>
      <xs:enumeration value="GMTPLUS0400BAKU"/>
      <xs:enumeration value="GMTPLUS0400CAUCASUSSTANDARDTIME"/>
      <xs:enumeration value="GMTPLUS0400YEREVAN"/>
      <xs:enumeration value="GMTPLUS0430KABUL"/>
      <xs:enumeration value="GMTPLUS0500EKATERINBURG"/>
      <xs:enumeration value="GMTPLUS0500ISLAMABAD_KARACHI_TASHKENT"/>
      <xs:enumeration value="GMTPLUS0530CHENNAI_KOLKATA_MUMBAI"/>
      <xs:enumeration value="GMTPLUS0530SRIJAYAWARDENEPURA"/>
      <xs:enumeration value="GMTPLUS0545KATHMANDU"/>
      <xs:enumeration value="GMTPLUS0600ALMATY_NOVOSIBIRSK"/>
      <xs:enumeration value="GMTPLUS0600ASTANA_DHAKA"/>
      <xs:enumeration value="GMTPLUS0630_YANGON"/>
      <xs:enumeration value="GMTPLUS0700_BANGKOK_HANOI_JAKARTA"/>
      <xs:enumeration value="GMTPLUS0700KRASNOYARSK"/>
      <xs:enumeration value="GMTPLUS0800BEIJING_CHONGQING_HONGKONG"/>
      <xs:enumeration value="GMTPLUS0800IRKUTSK_ULAANBATAAR"/>
      <xs:enumeration value="GMTPLUS0800KUALALUMPUR_SINGAPORE"/>
      <xs:enumeration value="GMTPLUS0800PERTH"/>
      <xs:enumeration value="GMTPLUS0800TAIPEI"/>
      <xs:enumeration value="GMTPLUS0900OSAKA_SAPPORO_TOKYO"/>
      <xs:enumeration value="GMTPLUS0900SEOUL"/>
      <xs:enumeration value="GMTPLUS0900YAKUTSK"/>
      <xs:enumeration value="GMTPLUS0930ADELAIDE"/>
      <xs:enumeration value="GMTPLUS0930DARWIN"/>
      <xs:enumeration value="GMTPLUS1000BRISBANE"/>
      <xs:enumeration value="GMTPLUS1000CANBERRA_MELBOURNE_SYDNEY"/>
      <xs:enumeration value="GMTPLUS1000GUAM_PORTMORESBY"/>
      <xs:enumeration value="GMTPLUS1000HOBART"/>
      <xs:enumeration value="GMTPLUS1000VLADIVOSTOK"/>
      <xs:enumeration value="GMTPLUS1100MAGADAN_SOLOMONIS"/>
      <xs:enumeration value="GMTPLUS1200AUCKLAND_WELLINGTON"/>
      <xs:enumeration value="GMTPLUS1200FIJI_KAMCHATKA_MARSHALLIS"/>
      <xs:enumeration value="GMTPLUS1300NUKU_ALOFA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AxdExtType_ApprovedDateTime">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Approved date:Date of transaction approval.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="AxdType_DateTime"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AxdExtType_userId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">User ID:ID for the user</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_bhnStatus">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Status:Status</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Inactive"/>
      <xs:enumeration value="Active"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnStopBossApproval">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Stop Boss approval:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCSubGroup">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Substitution group:UPC substitution group</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_BOMCalcGroupId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Calculation group:Identification of the calculation group</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemBOMLevel">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Level:Calculated BOM level on latest requirement calculation</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemBOMManualReceipt">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Arrival:Manually enter material profit for this item for a production?</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_BOMUnitId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Unit:BOM consumption unit</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_CommissItemGroup">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Commission item group:Identification of commission item group</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_CostGroupIdDirectMaterial">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Cost group:Identification of the cost group</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemCostModel">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Latest cost price:Update the item automatically with latest cost price?</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_BOMMeasureDensity">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Density:Measurement conversion factor for the density dimension.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Decimal">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_BOMMeasureDepth">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Depth:Measurement conversion factor for the depth dimension.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AxdArray_AxdExtType_Dimension">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Channel:Channel number.
Department:Department number.
Product:Product number.
Partner activity code:Partner activity code number.
Region code:Region code number.
Project ID:Project ID number.
Affiliate:Affiliate number.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="7" maxOccurs="7" name="element" type="AxdExtType_Dimension"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AxdExtType_Dimension">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US"/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_InventDimGroupId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Dimension group:Identification of inventory dimension group</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_DiscoReasonCode">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Discontinued reason code:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_EPCManager">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">EPC manager:The EPC manager of the item.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_InventDepth">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Depth:Standard depth</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_InventHeight">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Height:Standard height</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_InventWidth">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Width:Standard width</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_BOMMeasureHeight">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Height:Measurement conversion factor for the height dimension.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_IntrastatItemCodeId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Commodity:Item commodity code</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_IntrastatConvert">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Additional units:Quantity of additional units per inventory unit, used for Intrastat.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemBuyerGroupId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Buyer group:Identification of the buyer group.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemDimCombinationAutoCreate">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Autocreate combinations:Autocreate all new combinations for the item, when a new item dimension is created</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemDimCostPrice">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Use combination cost price:Activate, use, and maintain cost prices per item dimension combination.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemGroupId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Item group:Identification of item group</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Product code:Identify product code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemIdCompany">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Company item:Identify item.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemName">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Product name:Description of the item.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemPriceToleranceGroupId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Item price tolerance group:Identification of item price tolerance group for accounts payable invoice matching</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_ItemType">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Item type:Item type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Item"/>
      <xs:enumeration value="BOM"/>
      <xs:enumeration value="Service"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_jsString300">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">String 300:String of length 300.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="300"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_TransDate">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Date:Transaction date.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_MerchRecordNumber">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Service Now Merchant Record Number:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_InventModelGroupId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Inventory model group:Identification of inventory model group</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemNameAlias">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Search name:Find fast name applying to the item</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemNetWeight">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Net weight:Net weight of inventory item for one inventory unit</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemOrigCountryRegionId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Country/region:Country/region of origin of the current inventory item</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemOrigStateId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">State:State of origin for the current item</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemPackagingGroupId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Packing group:Identification of the packing group</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_PBAAutostart">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Autostart configuration:Autostart of configuration dialog when entering a modeling enabled item</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_PBAHideApproval">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Hide approval dialog:Hide approval dialog after acknowledgement of configuration details</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_PBAHideDialog">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Hide dialog box:Hide dialog for automatic configuration based on default values</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_PBAInventItemGroupId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Product model group:Identification of the item product model group.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_PBAItemAutoGenerated">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Autogenerated:Generated item</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_PBAMandatoryConfig">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Mandatory configuration:Check item lines for complete configuration details</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemPhantom">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Phantom:Propose item as phantom item in bills of materials?</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemPrimaryVendId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Vendor:Primary vendor for planned purchase order</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_ProdFlushingPrincipItem">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Flushing principle:Flushing principle</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Start"/>
      <xs:enumeration value="Finish"/>
      <xs:enumeration value="Manual"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemProdGroupId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Production group:Production group proposed when creating productions for the item</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemProdPoolId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Production pool:Pool proposed when creating productions for the item</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjCategoryId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Category:Category that is used as a default.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemPurchModel">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Latest purchase price:Update the item automatically with latest purchase price?</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_recId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Record-ID:Unique ID for the record in the database</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Int64"/>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Int64">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="-9223372036854775808"/>
      <xs:maxInclusive value="9223372036854775807"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_recVersion">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Record Version:Version of the record in the database</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ReqGroupId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Coverage group:Identification of the coverage group.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemSalesContributionRatio">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Contribution ratio:Contribution ratio to be used when calculating sales price</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemSalesModel">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Sales price model:Calculate sales price of the item by which model?</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Contributionratio"/>
      <xs:enumeration value="PercentMarkup"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemSalesPercentMarkup">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Misc. charges pct.:Misc. charges percentage to be used when calculating sales price</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_SalesPriceModelBasic">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Base price:Base price</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="PurchPrice"/>
      <xs:enumeration value="CostPrice"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ScrapConst">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Constant scrap:Constant scrap in BOM unit</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ScrapVar">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Variable scrap:Variable scrap percentage (must be specified in percent)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_WMSSortCode">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Sort code:Sort order of locations.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_IntrastatMarkupPct">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Misc. charges pct.:Figure specified in percentage.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemStopExplode">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Stop explosion:Stop explosion at this item?</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemTaraWeight">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Tare weight:The tare weight of the item for an inventory unit</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_TaxPackagingQty">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Packing quantity:Quantity of which packing duty is to be calculated. The quantity is stated per inventory unit.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemVolume">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Volume:Volume in cubic meters of an inventory unit</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ItemUseAlternative">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Use alternative:When should alternative item number be used?</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Never"/>
      <xs:enumeration value="InventWhen0"/>
      <xs:enumeration value="Always"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_BOMMeasureWidth">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Width:Factor for the measurement dimension width.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_WMSArrivalHandlingTime">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Arrival handling time:Time used to arrival update per inventory standard order quantity</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:time">
      <xs:pattern value="^(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\.[0-9]+)?([\+\-](0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]))?$"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AxdEntity_bhnUPCAttr1">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchDelay" nillable="true" type="AxdExtType_bhnUPCBatchDelay"/>
      <xs:element minOccurs="0" name="BhnItemVoidSupport" nillable="true" type="AxdExtType_bhnVoidSupportMode"/>
      <xs:element minOccurs="0" name="BhnLotVersion" nillable="true" type="AxdExtType_bhnUPCFixFacingNum"/>
      <xs:element minOccurs="0" name="BhnOriginalUPCEAN" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="BhnRedemptionDelay" nillable="true" type="AxdExtType_bhnUPCBatchDelay"/>
      <xs:element minOccurs="0" name="BhnTaxAmount" nillable="true" type="AxdExtType_bhnTaxAmount"/>
      <xs:element minOccurs="0" name="BhnTaxPercent" nillable="true" type="AxdExtType_bhnTaxPercent"/>
      <xs:element minOccurs="0" name="BhnUOMKitCount" nillable="true" type="AxdExtType_bhnUPCFixFacingNum"/>
      <xs:element minOccurs="0" name="BhnVariableMax" nillable="true" type="AxdExtType_bhnVariableMinMax"/>
      <xs:element minOccurs="0" name="BhnVariableMaxold" nillable="true" type="AxdExtType_bhnVariableMinMax"/>
      <xs:element minOccurs="0" name="BhnVariableMin" nillable="true" type="AxdExtType_bhnVariableMinMax"/>
      <xs:element minOccurs="0" name="BhnVariableMinold" nillable="true" type="AxdExtType_bhnVariableMinMax"/>
      <xs:element minOccurs="0" name="CardAttributeID" nillable="true" type="AxdExtType_bhnUPCCardAttributeId"/>
      <xs:element minOccurs="0" name="CheckMinMax" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="AxdUnion_AxdExtType_CurrencyCode_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="Denomination" nillable="true" type="AxdExtType_bhnUPCDenomination"/>
      <xs:element minOccurs="0" name="ExclusionIndicator" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="FacingsNum" nillable="true" type="AxdExtType_bhnUPCFixFacingNum"/>
      <xs:element minOccurs="0" name="Fee" nillable="true" type="AxdExtType_bhnUPCFee"/>
      <xs:element minOccurs="0" name="FeeStrippingFlag" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="IssuerCompanyCode" nillable="true" type="AxdExtType_bhnUPCIssuerCompany"/>
      <xs:element minOccurs="1" name="ItemId" type="AxdUnion_AxdExtType_ItemId_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="LastActiveDate" nillable="true" type="AxdExtType_bhnUPCLastActiveDate"/>
      <xs:element minOccurs="0" name="LaunchDate" nillable="true" type="AxdExtType_bhnUPCLaunchDate"/>
      <xs:element minOccurs="0" name="LoadValueType" nillable="true" type="AxdExtType_bhnUPCLoadValueType"/>
      <xs:element minOccurs="0" name="MagstripeUseTrackNum" nillable="true" type="AxdExtType_bhnUPCMagStripeTrackNum"/>
      <xs:element minOccurs="0" name="MulticardIndicator" nillable="true" type="AxdExtType_bhnUPCMulticardIndicator"/>
      <xs:element minOccurs="0" name="OwnershipType" nillable="true" type="AxdExtType_bhnUPCOwnershipType"/>
      <xs:element minOccurs="0" name="PanLength" nillable="true" type="AxdExtType_bhnUPCPanLength"/>
      <xs:element minOccurs="0" name="PaygoCTID" nillable="true" type="AxdExtType_bhnUPCPaygoCTID"/>
      <xs:element minOccurs="0" name="PostReversalIndicator" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="ProcessorType" nillable="true" type="AxdExtType_bhnProcessorTypeId"/>
      <xs:element minOccurs="0" name="ProductCatalogName" nillable="true" type="AxdExtType_bhnUPCProdCatalogName"/>
      <xs:element minOccurs="0" name="ProductCatalogProducts" nillable="true" type="AxdExtType_bhnUPCProdCatalogProducts"/>
      <xs:element minOccurs="0" name="ProductClass" nillable="true" type="AxdExtType_bhnUPCProductClass"/>
      <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="AxdExtType_bhnUPCProductGroup"/>
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="AxdExtType_bhnUPCProductType"/>
      <xs:element minOccurs="0" name="ReasonCode" nillable="true" type="AxdExtType_bhnUPCReasonCode"/>
      <xs:element minOccurs="0" name="RecId" nillable="true" type="AxdExtType_recId"/>
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="AxdExtType_recVersion"/>
      <xs:element minOccurs="0" name="RedeemLocationIndicator" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="ReloadIndicator" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="ReversibleIndicator" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="SendToBOSS" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="SendToMDM" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="ServiceProvider" nillable="true" type="AxdExtType_bhnUPCServiceProvider"/>
      <xs:element minOccurs="0" name="SKUKey" nillable="true" type="AxdExtType_bhnUPCSKUKey"/>
      <xs:element minOccurs="0" name="SKUSwipeOffset" nillable="true" type="AxdExtType_bhnUPCSKUSwipeOffset"/>
      <xs:element minOccurs="0" name="SKUSwipePrefix" nillable="true" type="AxdExtType_bhnUPCSKUSwipePrefix"/>
      <xs:element minOccurs="0" name="SKUSwipeType" nillable="true" type="AxdExtType_bhnUPCSKUSwipeType"/>
      <xs:element minOccurs="0" name="SKUTotalLength" nillable="true" type="AxdExtType_bhnUPCSKUTotalLength"/>
      <xs:element minOccurs="0" name="SKUUPC" nillable="true" type="AxdExtType_bhnUPCSKUUPC"/>
      <xs:element minOccurs="0" name="SpecificToAP" nillable="true" type="AxdExtType_bhnCustCompanyCode"/>
      <xs:element minOccurs="0" name="TaxIncluded" nillable="true" type="AxdExtType_NoYesId"/>
      <xs:element minOccurs="0" name="Theme" nillable="true" type="AxdExtType_bhnUPCThemeId"/>
      <xs:element minOccurs="0" name="VariableIndicator" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="Warehouse" nillable="true" type="AxdExtType_InventLocationId"/>
      <xs:element minOccurs="0" name="WholeDollarValue" nillable="true" type="AxdEnum_NoYes"/>
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required"/>
    <xs:attribute name="action" type="AxdEnum_AxdEntityAction"/>
  </xs:complexType>
  <xs:simpleType name="AxdExtType_bhnUPCBatchDelay">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Batch/delay:UPC batch/delay</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnVoidSupportMode">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Void Support Mode:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Systematic"/>
      <xs:enumeration value="Notsupported"/>
      <xs:enumeration value="ManualCSR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCFixFacingNum">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Number of fixture facings:UPC number of fixture facings</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnTaxAmount">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Tax amount:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnTaxPercent">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Tax percent:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnVariableMinMax">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCCardAttributeId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Card attribute ID:UPC card attribute ID</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdUnion_AxdExtType_CurrencyCode_AxdType_ExtCodeValue">
    <xs:union memberTypes="AxdExtType_CurrencyCode AxdType_ExtCodeValue"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_CurrencyCode">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Currency:Current currency code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCDenomination">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Denomination:UPC denomination</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCFee">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Activation fee:UPC fee</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCIssuerCompany">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Issuer company code:UPC issuer company code</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdUnion_AxdExtType_ItemId_AxdType_ExtCodeValue">
    <xs:union memberTypes="AxdExtType_ItemId AxdType_ExtCodeValue"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCLastActiveDate">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Last activation date:UPC last activation date</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCLaunchDate">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Internal test date:UPC internal test date</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCLoadValueType">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Load value type:UPC load value type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCMagStripeTrackNum">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Magstripe use track #:UPC magstripe use track number</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCMulticardIndicator">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Multicard:UPC multicard indicator</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCOwnershipType">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Ownership type:Card ownership type to determine when to financially relieve inventory</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NonOwned"/>
      <xs:enumeration value="OwnedShip"/>
      <xs:enumeration value="OwnedAct"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCPanLength">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Pan length:UPC pan length</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnProcessorTypeId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Processor type:Type of processor.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCProdCatalogName">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Product catalog name:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCProdCatalogProducts">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Product catalog products:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCProductClass">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Product classification:UPC product classification</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCProductGroup">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Product group:UPC product group</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCProductType">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Product type:UPC product type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCReasonCode">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">New UPC reason code:Reason code for why a new UPC is necessary.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCServiceProvider">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Processor company code:UPC processor company code</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCSKUKey">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">SKU key:UPC SKU key</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCSKUSwipeOffset">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">SKU swipe offset:UPC SKU swipe offset</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCSKUSwipePrefix">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">SKU swipe prefix:UPC SKU swipe prefix</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCSKUSwipeType">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">SKU swipe type:UPC SKU swipe type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCSKUTotalLength">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">SKU total length:UPC SKU total length</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCSKUUPC">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">SKU UPC:UPC SKU UPC</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_NoYesId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnUPCThemeId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Theme:UPC theme</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_InventLocationId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Warehouse:Identify the warehouse.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AxdEntity_bhnUPCAttr2">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomtemplatepathURL" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="AxdUnion_AxdExtType_ItemId_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="ProductAccountInquiryBIN" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="ProductAccountTopupBIN" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="ProductActivationInstructions" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="ProductBackCardTemplate" nillable="true" type="AxdEnum_BhnOnlineBackCardTemplate"/>
      <xs:element minOccurs="0" name="ProductBINForDARTransaction" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="ProductDefaultIID" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="ProductExpdate" nillable="true" type="xs:date"/>
      <xs:element minOccurs="0" name="ProductExpLength" nillable="true" type="AxdExtType_Integer"/>
      <xs:element minOccurs="0" name="ProductInventorySource" nillable="true" type="AxdEnum_productInventorySource"/>
      <xs:element minOccurs="0" name="ProductIsActivationRequired" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="ProductIsReloadable" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="ProductIsTaxable" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="ProductTermsandConditions" nillable="true" type="AxdUnion_AxdType_Str_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="ProductTypeID" nillable="true" type="AxdExtType_bhnOnLineproductType"/>
      <xs:element minOccurs="0" name="ProductUseStandardDesignTemplate" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="RecId" nillable="true" type="AxdExtType_recId"/>
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="AxdExtType_recVersion"/>
      <xs:element minOccurs="0" name="ReloadMaxAmount" nillable="true" type="AxdType_Decimal2"/>
      <xs:element minOccurs="0" name="ReloadMinAmount" nillable="true" type="AxdType_Decimal2"/>
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required"/>
    <xs:attribute name="action" type="AxdEnum_AxdEntityAction"/>
  </xs:complexType>
  <xs:simpleType name="AxdEnum_BhnOnlineBackCardTemplate">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Back Card Template:Back Card Template</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="NoBarcode"/>
      <xs:enumeration value="BarCode"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_Integer">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Integer:Integer.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_productInventorySource">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Inventory Source:Inventory Source</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="PincardDB"/>
      <xs:enumeration value="BLISS"/>
      <xs:enumeration value="BLAST"/>
      <xs:enumeration value="PrePrinted"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_bhnOnLineproductType">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Product Type Id:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Decimal2">
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>