src/main/config/custdivisioncodeservice_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CustDivisionCodeService" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsp:Policy wsu:Id="BasicHttpBinding_CustDivisionCodeService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http"/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="custdivisioncodeservice.xsd" namespace="http://tempuri.org"/>
      <xsd:import schemaLocation="custdivisioncodeservice_1_2_3_4_5.xsd" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
      <xsd:import schemaLocation="custdivisioncodeservice_1_2_3_4_5_6.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="custdivisioncodeservice_1.xsd" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria"/>
      <xsd:import schemaLocation="custdivisioncodeservice_1_2_3_4_5_6_7.xsd"/>
      <xsd:import schemaLocation="custdivisioncodeservice_1_2.xsd" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList"/>
      <xsd:import schemaLocation="custdivisioncodeservice_1_2_3.xsd" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey"/>
      <xsd:import schemaLocation="custdivisioncodeservice_1_2_3_4.xsd" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/CustDivisionCode"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustDivisionCodeServiceFindKeysRequest">
    <wsdl:part name="parameters" element="tns:CustDivisionCodeServiceFindKeysRequest"/>
  </wsdl:message>
  <wsdl:message name="CustDivisionCodeServiceFindKeysResponse">
    <wsdl:part name="parameters" element="tns:CustDivisionCodeServiceFindKeysResponse"/>
  </wsdl:message>
  <wsdl:message name="CustDivisionCodeService_findKeys_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q1:AifFault" xmlns:q1="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:message name="CustDivisionCodeServiceDeleteRequest">
    <wsdl:part name="parameters" element="tns:CustDivisionCodeServiceDeleteRequest"/>
  </wsdl:message>
  <wsdl:message name="CustDivisionCodeService_delete_OutputMessage"/>
  <wsdl:message name="CustDivisionCodeService_delete_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q2:AifFault" xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:message name="CustDivisionCodeServiceUpdateRequest">
    <wsdl:part name="parameters" element="tns:CustDivisionCodeServiceUpdateRequest"/>
  </wsdl:message>
  <wsdl:message name="CustDivisionCodeService_update_OutputMessage"/>
  <wsdl:message name="CustDivisionCodeService_update_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q3:AifFault" xmlns:q3="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:message name="CustDivisionCodeServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:CustDivisionCodeServiceCreateRequest"/>
  </wsdl:message>
  <wsdl:message name="CustDivisionCodeServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:CustDivisionCodeServiceCreateResponse"/>
  </wsdl:message>
  <wsdl:message name="CustDivisionCodeService_create_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q4:AifFault" xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:message name="CustDivisionCodeServiceFindRequest">
    <wsdl:part name="parameters" element="tns:CustDivisionCodeServiceFindRequest"/>
  </wsdl:message>
  <wsdl:message name="CustDivisionCodeServiceFindResponse">
    <wsdl:part name="parameters" element="tns:CustDivisionCodeServiceFindResponse"/>
  </wsdl:message>
  <wsdl:message name="CustDivisionCodeService_find_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q5:AifFault" xmlns:q5="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:message name="CustDivisionCodeServiceReadRequest">
    <wsdl:part name="parameters" element="tns:CustDivisionCodeServiceReadRequest"/>
  </wsdl:message>
  <wsdl:message name="CustDivisionCodeServiceReadResponse">
    <wsdl:part name="parameters" element="tns:CustDivisionCodeServiceReadResponse"/>
  </wsdl:message>
  <wsdl:message name="CustDivisionCodeService_read_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q6:AifFault" xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:portType name="CustDivisionCodeService">
    <wsdl:operation name="findKeys">
      <wsdl:input wsaw:Action="http://tempuri.org/CustDivisionCodeService/findKeys" name="CustDivisionCodeServiceFindKeysRequest" message="tns:CustDivisionCodeServiceFindKeysRequest"/>
      <wsdl:output wsaw:Action="http://tempuri.org/CustDivisionCodeService/findKeysResponse" name="CustDivisionCodeServiceFindKeysResponse" message="tns:CustDivisionCodeServiceFindKeysResponse"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/CustDivisionCodeService/findKeysAifFaultFault" name="AifFaultFault" message="tns:CustDivisionCodeService_findKeys_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/CustDivisionCodeService/delete" name="CustDivisionCodeServiceDeleteRequest" message="tns:CustDivisionCodeServiceDeleteRequest"/>
      <wsdl:output wsaw:Action="http://tempuri.org/CustDivisionCodeService/deleteResponse" message="tns:CustDivisionCodeService_delete_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/CustDivisionCodeService/deleteAifFaultFault" name="AifFaultFault" message="tns:CustDivisionCodeService_delete_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/CustDivisionCodeService/update" name="CustDivisionCodeServiceUpdateRequest" message="tns:CustDivisionCodeServiceUpdateRequest"/>
      <wsdl:output wsaw:Action="http://tempuri.org/CustDivisionCodeService/updateResponse" message="tns:CustDivisionCodeService_update_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/CustDivisionCodeService/updateAifFaultFault" name="AifFaultFault" message="tns:CustDivisionCodeService_update_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/CustDivisionCodeService/create" name="CustDivisionCodeServiceCreateRequest" message="tns:CustDivisionCodeServiceCreateRequest"/>
      <wsdl:output wsaw:Action="http://tempuri.org/CustDivisionCodeService/createResponse" name="CustDivisionCodeServiceCreateResponse" message="tns:CustDivisionCodeServiceCreateResponse"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/CustDivisionCodeService/createAifFaultFault" name="AifFaultFault" message="tns:CustDivisionCodeService_create_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/CustDivisionCodeService/find" name="CustDivisionCodeServiceFindRequest" message="tns:CustDivisionCodeServiceFindRequest"/>
      <wsdl:output wsaw:Action="http://tempuri.org/CustDivisionCodeService/findResponse" name="CustDivisionCodeServiceFindResponse" message="tns:CustDivisionCodeServiceFindResponse"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/CustDivisionCodeService/findAifFaultFault" name="AifFaultFault" message="tns:CustDivisionCodeService_find_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/CustDivisionCodeService/read" name="CustDivisionCodeServiceReadRequest" message="tns:CustDivisionCodeServiceReadRequest"/>
      <wsdl:output wsaw:Action="http://tempuri.org/CustDivisionCodeService/readResponse" name="CustDivisionCodeServiceReadResponse" message="tns:CustDivisionCodeServiceReadResponse"/>
      <wsdl:fault wsaw:Action="http://tempuri.org/CustDivisionCodeService/readAifFaultFault" name="AifFaultFault" message="tns:CustDivisionCodeService_read_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_CustDivisionCodeService" type="tns:CustDivisionCodeService">
    <wsp:PolicyReference URI="#BasicHttpBinding_CustDivisionCodeService_policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findKeys">
      <soap:operation soapAction="http://tempuri.org/CustDivisionCodeService/findKeys" style="document"/>
      <wsdl:input name="CustDivisionCodeServiceFindKeysRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CustDivisionCodeServiceFindKeysResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault name="AifFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/CustDivisionCodeService/delete" style="document"/>
      <wsdl:input name="CustDivisionCodeServiceDeleteRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault name="AifFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/CustDivisionCodeService/update" style="document"/>
      <wsdl:input name="CustDivisionCodeServiceUpdateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault name="AifFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://tempuri.org/CustDivisionCodeService/create" style="document"/>
      <wsdl:input name="CustDivisionCodeServiceCreateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CustDivisionCodeServiceCreateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault name="AifFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="http://tempuri.org/CustDivisionCodeService/find" style="document"/>
      <wsdl:input name="CustDivisionCodeServiceFindRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CustDivisionCodeServiceFindResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault name="AifFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="read">
      <soap:operation soapAction="http://tempuri.org/CustDivisionCodeService/read" style="document"/>
      <wsdl:input name="CustDivisionCodeServiceReadRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CustDivisionCodeServiceReadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault name="AifFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustDivisionCodeService">
    <wsdl:port name="BasicHttpBinding_CustDivisionCodeService" binding="tns:BasicHttpBinding_CustDivisionCodeService">
      <soap:address location="http://vsclbomdxp05w.bhnetwork.local/MicrosoftDynamicsAXAif50/custdivisioncodeservice.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>