src/main/config/custcompanycodeservice_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CustCompanyCodeService" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="http://tempuri.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:import namespace="http://tempuri.org" location="custcompanycodeservice.wsdl"/>
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/services/Imports">
      <xsd:import schemaLocation="custcompanycodeservice.xsd" namespace="http://schemas.microsoft.com/dynamics/2008/01/services"/>
      <xsd:import schemaLocation="custcompanycodeservice_1_2_3_4_5.xsd" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
      <xsd:import schemaLocation="custcompanycodeservice_1_2_3_4_5_6.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="custcompanycodeservice_1.xsd" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList"/>
      <xsd:import schemaLocation="custcompanycodeservice_1_2.xsd" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey"/>
      <xsd:import schemaLocation="custcompanycodeservice_1_2_3_4_5_6_7.xsd"/>
      <xsd:import schemaLocation="custcompanycodeservice_1_2_3.xsd" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/CustCompanyCode"/>
      <xsd:import schemaLocation="custcompanycodeservice_1_2_3_4.xsd" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustCompanyCodeServiceDeleteRequest">
    <wsdl:part name="parameters" element="tns:CustCompanyCodeServiceDeleteRequest"/>
  </wsdl:message>
  <wsdl:message name="CustCompanyCodeService_delete_OutputMessage"/>
  <wsdl:message name="CustCompanyCodeService_delete_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q1:AifFault" xmlns:q1="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:message name="CustCompanyCodeServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:CustCompanyCodeServiceCreateRequest"/>
  </wsdl:message>
  <wsdl:message name="CustCompanyCodeServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:CustCompanyCodeServiceCreateResponse"/>
  </wsdl:message>
  <wsdl:message name="CustCompanyCodeService_create_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q2:AifFault" xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:message name="CustCompanyCodeServiceFindRequest">
    <wsdl:part name="parameters" element="tns:CustCompanyCodeServiceFindRequest"/>
  </wsdl:message>
  <wsdl:message name="CustCompanyCodeServiceFindResponse">
    <wsdl:part name="parameters" element="tns:CustCompanyCodeServiceFindResponse"/>
  </wsdl:message>
  <wsdl:message name="CustCompanyCodeService_find_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q3:AifFault" xmlns:q3="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:message name="CustCompanyCodeServiceReadRequest">
    <wsdl:part name="parameters" element="tns:CustCompanyCodeServiceReadRequest"/>
  </wsdl:message>
  <wsdl:message name="CustCompanyCodeServiceReadResponse">
    <wsdl:part name="parameters" element="tns:CustCompanyCodeServiceReadResponse"/>
  </wsdl:message>
  <wsdl:message name="CustCompanyCodeService_read_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q4:AifFault" xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:message name="CustCompanyCodeServiceUpdateRequest">
    <wsdl:part name="parameters" element="tns:CustCompanyCodeServiceUpdateRequest"/>
  </wsdl:message>
  <wsdl:message name="CustCompanyCodeService_update_OutputMessage"/>
  <wsdl:message name="CustCompanyCodeService_update_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q5:AifFault" xmlns:q5="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:portType name="CustCompanyCodeService">
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CustCompanyCodeService/delete" name="CustCompanyCodeServiceDeleteRequest" message="tns:CustCompanyCodeServiceDeleteRequest"/>
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CustCompanyCodeService/deleteResponse" message="tns:CustCompanyCodeService_delete_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CustCompanyCodeService/deleteAifFaultFault" name="AifFaultFault" message="tns:CustCompanyCodeService_delete_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CustCompanyCodeService/create" name="CustCompanyCodeServiceCreateRequest" message="tns:CustCompanyCodeServiceCreateRequest"/>
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CustCompanyCodeService/createResponse" name="CustCompanyCodeServiceCreateResponse" message="tns:CustCompanyCodeServiceCreateResponse"/>
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CustCompanyCodeService/createAifFaultFault" name="AifFaultFault" message="tns:CustCompanyCodeService_create_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CustCompanyCodeService/find" name="CustCompanyCodeServiceFindRequest" message="tns:CustCompanyCodeServiceFindRequest"/>
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CustCompanyCodeService/findResponse" name="CustCompanyCodeServiceFindResponse" message="tns:CustCompanyCodeServiceFindResponse"/>
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CustCompanyCodeService/findAifFaultFault" name="AifFaultFault" message="tns:CustCompanyCodeService_find_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CustCompanyCodeService/read" name="CustCompanyCodeServiceReadRequest" message="tns:CustCompanyCodeServiceReadRequest"/>
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CustCompanyCodeService/readResponse" name="CustCompanyCodeServiceReadResponse" message="tns:CustCompanyCodeServiceReadResponse"/>
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CustCompanyCodeService/readAifFaultFault" name="AifFaultFault" message="tns:CustCompanyCodeService_read_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CustCompanyCodeService/update" name="CustCompanyCodeServiceUpdateRequest" message="tns:CustCompanyCodeServiceUpdateRequest"/>
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CustCompanyCodeService/updateResponse" message="tns:CustCompanyCodeService_update_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/CustCompanyCodeService/updateAifFaultFault" name="AifFaultFault" message="tns:CustCompanyCodeService_update_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="CustCompanyCodeService">
    <wsdl:port name="BasicHttpBinding_CustCompanyCodeService" binding="i0:BasicHttpBinding_CustCompanyCodeService">
      <soap:address location="http://vmsclapmdaxq02w.devqa.local/MicrosoftDynamicsAXAif50/custcompanycodeservice.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>